
////////////////////
// Normalize.less //
////////////////////

@import "~normalize-less/normalize.less";


//////////////
// Skeleton //
//////////////
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

////////////////////////////////////////////
// Application general styles (overrides) //
////////////////////////////////////////////

@import "~src/app/app.less";
@import "~src/app/home/home.less";
